// 横屏
@media (orientation: landscape) {
   html {
     font-size: 55.2px !important
   }
   .bb-item {
    width: 100%;
    overflow: hidden;
  }
    .bb-div {
      width: 100%;
      top: 5.4rem;
      left: 0;
      position absolute
      height: 1.6rem
      z-index: 99
    }
    .page {
      width: 50%
      float: left;
      height: 7rem;
      overflow hidden
    }
}
// 竖屏
@media (orientation: portrait) {
   .bb-item {
    width: 100%;
    overflow: hidden;
  }
}

  .hello {
    width: 7.5rem
    // height: 7rem
    height: 10rem
    border: 1px solid red
    overflow: hidden
    // overflow-y: visible
  }
  .bb-bookblock {
    position: relative;
    height: 7rem
    // border 1px solid red
    img {
      width: 8rem;
      height: 5.4rem
    }
  }
  img {
    display block
  }

    .swiper-slide {
      padding: 10px 50px;
      box-sizing border-box
    }


